<section class="section" id="kids">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Kid's Latest</h2>
          <span
            >Details to details is what makes Hexashop different from the other
            themes.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="kid-item-carousel">
          <div class="owl-kid-item owl-carousel">
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <%= image_tag 'banner1.jpg' %>
              </div>
              <div class="down-content">
                <h4>School Collection</h4>
                <span>$80.00</span>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <%= image_tag 'banner1.jpg' %>
              </div>
              <div class="down-content">
                <h4>Summer Cap</h4>
                <span>$12.00</span>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <%= image_tag 'banner1.jpg' %>
              </div>
              <div class="down-content">
                <h4>Classic Kid</h4>
                <span>$30.00</span>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-star"></i
                      ></a>
                    </li>
                    <li>
                      <a href="single-product.html"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <%= image_tag 'banner1.jpg' %>
              </div>
              <div class="down-content">
                <h4>Classic Spring</h4>
                <span>$120.00</span>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>