<section class="section" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <h2>Try-on Our Products</h2>
          <span
            >You can "try on" our products with the help of Augmented Reality! Simple click on the eye icon (if present) on a product and try it on through your PC or mobile camera</span
          >
          <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>
              Immershop is adding trust back to e-commerce.<br>
              You will never get buyer's regret again
            </p>
          </div>
          <div class="main-border-button">
            <a href="products.html">Try It Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="leather">
                <h4>Online Shopping</h4>
                <span>and</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="first-image">
                <%= image_tag 'shopping.jpg', class: 'explore-img' %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="second-image">
                <%= image_tag 'vr.jpg', class: 'explore-img pos-right'  %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="types">
                <h4>Augmented Reality</h4>
                <span>Separate... Until Now</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>